## **Functions in Python**

In [ ]:
a = 10
b = 20
print("Sum: ", a+b)
print("Diff: ", a-b)
print("Product: ", a*b)
print("Remainder: ", a/b)

Sum:  30
Diff:  -10
Product:  200
Remainder:  0.5

In [ ]:
def function():
  print("hello from function")

function()

hello from function

In [ ]:
def wish(name):
  print("Hello", name, "Good Morning")

In [ ]:
wish('Saumya')

Hello Saumya Good Morning

In [ ]:
def sq(num):
  print(num**2)

sq(10)

100

In [ ]:
def sq(num):
  return num**2

print(sq(10))

100

In [ ]:
def odd_even(n):
  if n%2 == 0:
    return True
  else:
    return False

In [ ]:
odd_even(7)

False

In [ ]:
def add(a, b):
  return a+b

add(5,10)

15

### **Types of Arguments in Python Functions**
* Positional Arguments
* Keyword Arguments
* Default Arguments
* Variable Length Arguments

In [ ]:
#positional arguments
def sub(a, b):
  return a-b

sub(7,8)

-1

In [ ]:
sub(b = 8, a = 10) #Keyword Argument

2

In [ ]:
def wish(name, msg):
  print("Hello", name, msg)

wish("Saumya", "GM")

Hello Saumya GM

In [ ]:
wish(msg = "GM", name = "Saumya")

Hello Saumya GM

In [ ]:
wish(name = "Saumya", msg = "GM")

Hello Saumya GM

In [ ]:
wish("GM", name = "saumya")

TypeError: ignored

In [ ]:
wish(msg = "GM", "Saumya")

SyntaxError: ignored

In [ ]:
#default arguments
def sum(a = 8, b = 90):
  return a+b

print(sum())
sum(6,8)

98

14

In [ ]:
#for loop
sum = 0
for i in range(10+1):
  sum+=i

print(sum)

55

In [ ]:
#Variable Length Arguments

def sum(*args):
  sum = 0
  for i in args:
    sum += i;
  return sum

sum(10,20, 50, 50,80)

210

In [ ]:
#Keyword Variable Length argument

def info(**kwargs):
  for key, value in kwargs.items():
    print(key," : " ,value)


info(Name = "Saumya", Age = 30, City = "Delhi")

Name  :  Saumya
Age  :  30
City  :  Delhi

In [ ]:
def person(name, **kwargs):
  print("Name : ", name)

  for key, value in kwargs.items():
    print(key, value)


person("Amit", age = 30, pin = 770077, city = "Delhi")

Name :  Amit
age 30
pin 770077
city Delhi

### **Question**

**Task: Oil and Gas Equipment and Drilling Site Management System**

You are tasked with developing a Python program for an oil and gas company to manage their drilling equipment and drilling sites. The program should use *args and **kwargs to provide flexibility in adding and searching for equipment and sites. Here are the tasks you need to complete:
Create a Python script that defines empty lists for drilling equipment and drilling sites.

Implement a function add_equipment that takes the following parameters:

* equipment_type (string): The type of equipment being added.
* *args (tuple): Additional details about the equipment (e.g., model, power, capacity).
* **kwargs (dictionary): Additional attributes of the equipment (e.g., vendor, power source).

The function should create a dictionary representing the equipment, including its type, details (from *args), and attributes (from **kwargs). Then, it should append this dictionary to the drilling_equipment list.

In [ ]:
drilling_equipments = []
drilling_sites = []

def add_equipments(equipment_type, *args, **kwargs):
  equipment_details = {}
  equipment_details['equipment_type'] = equipment_type
  equipment_details['details'] = args
  equipment_details['attributes'] = {}
  for key, val in kwargs.items():
    # print(key, val)
    equipment_details['attributes'][key] = val
  # equipment_details['attributes'] = kwargs

  drilling_equipments = equipment_details
  print(drilling_equipments)

In [ ]:
add_equipments('Drill', 'Model X', '2000 HP', capacity='High', vendor='ABC Inc', power_source='Electric')
add_equipments('Pump', 'Model Y', '1000 HP', capacity='Medium', vendor='XYZ Corp', power_source='Diesel')

{'equipment_type': 'Drill', 'details': ('Model X', '2000 HP'), 'attributes': {'capacity': 'High', 'vendor': 'ABC Inc', 'power_source': 'Electric'}}
{'equipment_type': 'Pump', 'details': ('Model Y', '1000 HP'), 'attributes': {'capacity': 'Medium', 'vendor': 'XYZ Corp', 'power_source': 'Diesel'}}

### **Question 1(b)**

Implement a function add_drilling_site with similar parameters:

site_name (string): The name of the drilling site being added.

*args (tuple): Additional details about the site (e.g., location, depth, terrain).

**kwargs (dictionary): Additional attributes of the site (e.g., status, operator).

The function should create a dictionary representing the site, including its name, details (from *args), and attributes (from **kwargs). Then, it should append this dictionary to the drilling_sites list.**

In [ ]:
def add_drilling_site(site_name, *args, **kwargs):
  drilling_site_info = {
      'Name':site_name,
      'Details': args,
      'Attributes': kwargs
  }

  drilling_sites.append(drilling_site_info)
  print(drilling_sites)


add_drilling_site('Drill', 'Location X', '2000m', status='Working', Operator='ABC Inc',)

[{'Name': 'Drill', 'Details': ('Location X', '2000m'), 'Attributes': {'status': 'Working', 'Operator': 'ABC Inc'}}]

## **Recursive Functions**
* Function that calls itself is called as a recursive function.

In [ ]:
def fact(n):
  if n == 1 or n == 0:
    return 1

  if n>1:
    return n*fact(n-1)

fact(1)

1

In [ ]:
fact(5)

120

In [ ]:
def fibo(n):
  if n<=1:
    return 1
  else:
    return fibo(n-1) + fibo(n-2)

fibo(10)

89

In [ ]:
# 0 1 1 2 3 5 8 13

def fibo(n):
  num1 = 0
  num2 = 1
  next_number = num2
  count = 1

  while count <= n:
      print(next_number, end=" ")
      count += 1
      num1, num2 = num2, next_number
      next_number = num1 + num2
  print()

fibo(10)

1 2 3 5 8 13 21 34 55 89

## **Decorator Functions**

In [ ]:
def div(a, b):
  if a<b:
    a, b = b, a     #Swapping the numbers -> To make numerator>denominator

  c = a/b
  return c

print(div(10, 5))
div(5, 10)

2.0

2.0

In [ ]:
def og_div(a, b):
  return a/b

og_div(5,10)

0.5

In [ ]:
def smart_div(func):
  def inner(a,b):
    if a<b:
      a, b = b, a
    return func(a,b)
  return inner

res = smart_div(og_div)

In [ ]:
res(10, 5)

2.0

In [ ]:
res(5,10)

2.0

In [ ]:
def wish(name):
  print("Hello", name, "Good Morning")

wish('steve')
wish('John')
wish('Robert')

Hello steve Good Morning
Hello John Good Morning
Hello Robert Good Morning

In [ ]:
def smart_wish(func):
  def inner(name):
    if name == 'Robert':
      print("Hello", name, "Bad Morning")
    else:
      func(name)
  return inner

res = smart_wish(wish)

In [ ]:
res("Robert")
res("Saumya")

Hello Robert Bad Morning
Hello Saumya Good Morning

### **Question**
Task: Logging Decorator



You are tasked with creating a decorator function called log_function_call that logs when a function is called, along with its arguments, and the result of the function call. You will apply this decorator to two functions.



Implement a decorator function called log_function_call that takes a function as an argument and wraps it. Inside the decorator, log the function's name, its arguments, and the result of the function call. You can use the logging module for logging.



Create two functions:



add(a, b): This function takes two integers, a and b, as arguments and returns their sum.
multiply(a, b): This function takes two integers, a and b, as arguments and returns their product.
Apply the log_function_call decorator to both the add and multiply functions.

Call the decorated add and multiply functions with different arguments to verify that the decorator logs the function calls and results correctly.

In [ ]:
def add(a, b):
  return a+b

def multiply(a, b):
  return a*b

In [ ]:
def log_function_call(func):
  def inner(a, b):
    return add(a,b)
  return inner


res = log_function_call(add)

In [ ]:
res(5,10)

15

In [ ]:
def log_function_call(func):
  def inner(a, b):
    return multiply(a,b)
  return inner


res2 = log_function_call(multiply)
res2(3,88)

264

## **Generator Function**
* A generator function uses yield keyword to yield a sequence of values once at a time, instead of returning all at a time.

In [ ]:
def count_up_to(n):
  i = 1
  while i<=n:
    yield i
    i = i+1

res = count_up_to(10)

In [ ]:
print(next(res))
print(next(res))
print(next(res))
print(next(res))
print(next(res))
print(next(res))

1
2
3
4
5
6

In [ ]:
for i in res:
  print(i)

1
2
3
4
5
6
7
8
9
10

Generate fibonacci numbers using generator functions

In [ ]:
def fibonacci_generator(limit):
    a, b = 0, 1
    count = 0
    while count < limit:
        yield a
        a, b = b, a + b
        count += 1

fibo = fibonacci_generator(10)

for num in fibo:
    print(num)

0
1
1
2
3
5
8
13
21
34

## **List Comprehension**

In [ ]:
# list = [expression for items in list if condition]

n = [1, 2, 3,4,5]
sq = [i**2 for i in n]

In [ ]:
sq = [i**2 for i in range(1,11)]
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
nos = [1,2,3,4,5,6,7,8,9]
even = [i for i in nos if i%2==0]
even

[2, 4, 6, 8]

In [ ]:
list_of_words = ["Python", "AWS", "Azure", "Power BI"]
letters = [word[0] for word in list_of_words]
letters

['P', 'A', 'A', 'P']

In [ ]:
words = ["python", 'sql','azure','power BI','databricks']
uppercase = [word[0].upper()+word[1:] for word in words]
uppercase

['Python', 'Sql', 'Azure', 'Power BI', 'Databricks']

In [ ]:
words = "the quick brown fox jumps over the lazy dogs"
l = words.split(" ")
l

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dogs']

In [ ]:
res = [[word.upper(), len(word)] for word in l]

In [ ]:
res

[['THE', 3],
 ['QUICK', 5],
 ['BROWN', 5],
 ['FOX', 3],
 ['JUMPS', 5],
 ['OVER', 4],
 ['THE', 3],
 ['LAZY', 4],
 ['DOGS', 4]]

## **Lambda Function/Anonymous Function**
  * Has no name for the function

In [ ]:
f = lambda i:i*i
f(4)

16

In [ ]:
f = lambda a, b:a+b
f(3,5)

8

In [ ]:
f = lambda a,b,c : a*b*c
f(3,5,8)

120

In [ ]:
f = lambda a,b: a if a>b else b
f(9,80)

80

## **Filter, Map, Reduce functions**

### **Filter()**

In [ ]:
def oddEven(n):
  if n % 2 == 0:
    return True
  else:
    return False


l = [0,2,3,4,5,6,7,8]

res = list(filter(oddEven, l))
print(res)

[0, 2, 4, 6, 8]

In [ ]:
res_new = list(filter(lambda x: x%2==0, l))
res_new

[0, 2, 4, 6, 8]

### **Map()**

In [ ]:
l = [10,11,12,14,15]

def sq(n):
  return n**2

sq = list(map(sq, l))

sq

[100, 121, 144, 196, 225]

In [ ]:
words = ["hello", 'world', 'lambda', 'exercise']

res = list(map(lambda x: x.upper(), words))

res

['HELLO', 'WORLD', 'LAMBDA', 'EXERCISE']

### **Sorted()**

In [ ]:
people = [{'name':'Alice', 'age':30},{'name':'Bob', 'age':25},{'name':'Charles', 'age':35}]
res = sorted(people, key=lambda i: i['age'])
res

[{'name': 'Bob', 'age': 25},
 {'name': 'Alice', 'age': 30},
 {'name': 'Charles', 'age': 35}]

## **Classes & Objects in Python**
  * Class consists of attributes and variables
  * Methods/functions

In [ ]:
class addition:
    a = 10
    b = 20
    def add(self):
      return self.a+self.b

obj = addition()
obj.add()

30

In [ ]:
class Computer:
  def config(self):
    print("i5, 16Gb, ",32)

In [ ]:
obj = Computer()
obj.config()

i5, 16Gb,  32