### **Fundamental Data Types in Python**

In [ ]:
print("Welcome")

Welcome

In [ ]:
a = 10
type(a)
print(a)

10

In [ ]:
b = "python"
print(type(b))
print(b)

<class 'str'>
python

In [ ]:
e ="""Data
engineering
Python
"""
type(e)

str

In [ ]:
a = True
type(a)

bool

In [ ]:
a = False
type(a)

bool

In [ ]:
print(a)

False

In [ ]:
a = 10
b = 20
c = a>b
print(c)

False

In [ ]:
print(True+True)

2

In [ ]:
d = 10+20j
type(d)

complex

#### **Note**
* All fundamental datatypes (i.e. int, string, float, boolean, complex etc.) are immutable in nature.
* New object won't be created if a object already exists with same value

**e.g.**

```
a = 10
b = 10
```
* ```b``` will also point to the same object ```a```

* The address of both ```a``` and ```b``` will point to the same address

In [ ]:
a = 10

In [ ]:
print(id(a))

134893704806928

In [ ]:
b = 10

In [ ]:
print(id(b))

134893704806928

In [ ]:
s = "Data Engineering" #Strings supports +ve & -ve indexing
s[-7]

'n'

In [ ]:
#slicing in Strings
print(s[0:4])
print(s[0:4:2])
#s_obj[start_pos:end_pos(not included):increment_val]

Data
Dt

In [ ]:
s = "ABCDEFGHIJKLMNOPQRSTVXYZ"
s[12:15]
s[:14]
s[-3:]
s[:]
s[3:1000]

'DEFGHIJKLMNOPQRSTVXYZ'

### **Operators in Python**

#### **Arithmetic Operators**

In [ ]:
a = 10
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) #Floor division 10/20 = 0.5 => 0
print(3//2)

30
-10
200
0.5
0
1

In [ ]:
a = 10.0
b = 2.0
print(a/b)
print(a//b)

5.0
5.0

#### **Note**
* If the variables are in float then the result will be in float

In [ ]:
print(a%b)
print(a**b)

0.0
100.0

In [ ]:
"ten" + "twenty"
# "ten"*"twenty" -> gives error

'tentwenty'

In [ ]:
#"ten" + 10 ->gives error

#### **Note**
* Multiplication operation works with one Int and one String datatype
* Multiplication operation donot work with two string operators
* addition only works with two string datatypes or two integer datatypes

In [ ]:
"ten"*3

'tententen'

#### **Relational **Operators** <, >, <=, >=, !=, ==**

In [ ]:
a = 20
b = 10
print(a>b)
print(a>=b)

True
True

#### **Logical Operators**

In [ ]:
a = True
b = False
print(a and b)

False

In [ ]:
print(a or b)

True

In [ ]:
print(not a)

False

In [ ]:
is_geological_survey_complete = True
is_environmental_clearance_received = True
is_market_demand_high = False

should_start_drilling = is_geological_survey_complete and is_environmental_clearance_received and is_market_demand_high
print("Should we start drilling?", should_start_drilling)

Should we start drilling False

In [ ]:
# Boolean Variables
HasExplorationPermit = True
HasDrillingRights = True
HasEnvironmentalApproval = False
HasOilDiscovery = True



# Logical Operations
IsExplorationAllowed = HasExplorationPermit and HasDrillingRights and not HasEnvironmentalApproval #true
IsDiscoveryProfitable = HasOilDiscovery and (HasExplorationPermit or HasDrillingRights) #true

print(IsExplorationAllowed, IsDiscoveryProfitable)

True True

#### **Membership Operator**

In [ ]:
a = [10, 20, 40, "Shell", "Data"]
10 in a

True

In [ ]:
"Shell" not in a

False

In [ ]:
s = "Python"
res = 'P' in s
print(res)

True

In [ ]:
# List of Equipment
refineryEquipment = ["Crude Distillation Unit", "Catalytic Cracking Unit", "Hydrotreating Unit", "FCC Unit"]



# Membership Operator
IsUnitInstalled = "Hydrotreating Unit" in refineryEquipment
IsUnitObsolete = "Thermal Cracking Unit" not in refineryEquipment



print("Is Hydrotreating Unit installed?", IsUnitInstalled)
print("Is Thermal Cracking Unit obsolete?", IsUnitObsolete)

Is Hydrotreating Unit installed? True
Is Thermal Cracking Unit obsolete? True

#### **Lists in Python**

* Lists are mutable
* Heterogeneous Objects are allowed
* Duplicates are allowed
* Indexing and Slicing are possible

In [ ]:
list1 = [10, "python", 20, 10, 0.5, True]
print(list1)
print(type(a))

[10, 'python', 20, 10, 0.5, True]
<class 'bool'>

In [ ]:
list1[-1]

True

In [ ]:
list1[:]

[10, 'python', 20, 10, 0.5, True]

In [ ]:
id(list1)

134892434741248

In [ ]:
list1.append(999)
id(list1)      ###Lists are mutable

134892434741248

In [ ]:
list1.remove(10)
print(list1)

['python', 20, 10, 0.5, True, 999]

In [ ]:
employees = [
    "John Doe, Senior Geologist, Geology, johndoe@email.com, 123-456-7890",
    "Jane Smith, Drilling Engineer, Drilling, janesmith@email.com, 987-654-3210",
    "Bob Johnson, Reservoir Engineer, Reservoir Engineering, bobjohnson@email.com, 456-789-0123",
    "Alice Brown, Petrophysicist, Petrophysics, alicebrown@email.com, 789-012-3456"
]
res = employees[0].split(',')
print("Employee Information:\nName: {}\nJob Title: {}\nDepartment: {}\nEmail: {}\nPhone: {}".format(res[0], res[1], res[2], res[3], res[4]))

Employee Information:
Name: John Doe
Job Title:  Senior Geologist
Department:  Geology
Email:  johndoe@email.com
Phone:  123-456-7890

In [ ]:
new_employee = "Eva Green, Drilling Technician, Drilling, evagreen@email.com, 111-222-3333"
employees.append(new_employee)
print(employees)

['John Doe, Senior Geologist, Geology, johndoe@email.com, 123-456-7890', 'Jane Smith, Drilling Engineer, Drilling, janesmith@email.com, 987-654-3210', 'Bob Johnson, Reservoir Engineer, Reservoir Engineering, bobjohnson@email.com, 456-789-0123', 'Alice Brown, Petrophysicist, Petrophysics, alicebrown@email.com, 789-012-3456', 'Eva Green, Drilling Technician, Drilling, evagreen@email.com, 111-222-3333']

#### **Tuples in python**
* defined using ( )
* order is preserved
* indexing & slicing is allowed
* tuples are immutable
* heterogeneous elements are allowed

In [ ]:
a = ("Well A", "2023-10-08", "Pipeline", True, 100, 100)

In [ ]:
print(a)

('Well A', '2023-10-08', 'Pipeline', True, 100, 100)

In [ ]:
a[2]

'Pipeline'

#### **String Formatting**

In [ ]:
name = "Saumya"
role = "Data Engineer"

print("I am {}, working as {}".format(name, role))

I am Saumya, working as Data Engineer

In [ ]:
print("I am %s working as %s" %(name, role)) #%s -> output will be a string

I am Saumya working as Data Engineer

In [ ]:
print(f"I am {name} workingas {role}") # f string method -> most commonly used. remember

I am Saumya workingas Data Engineer

In [ ]:
name = "John Doe"
job_title = "Senior Geologist"
department = "Geology"
email = "johndoe@email.com"
phone = "123-456-7890"

In [ ]:
print(f"Employee Information:\nName: {name}\nJob Title: {job_title}\nDepartment: {department}\nEmail: {email}\nPhone: {phone}")

Employee Information:
Name: John Doe
Job Title: Senior Geologist
Department: Geology
Email: johndoe@email.com
Phone: 123-456-7890

In [ ]:
print("Employee Information:\nName: {}\nJob Title: {}\nDepartment: {}\nEmail: {}\nPhone: {}".format(name, job_title, department, email, phone))

Employee Information:
Name: John Doe
Job Title: Senior Geologist
Department: Geology
Email: johndoe@email.com
Phone: 123-456-7890

#### **Set in Python**
* Duplicates are not allowed
* Sets are mutable
* heterogeneous objects are allowed
* Order is not preserved
* Slicing and indexing not possible

In [ ]:
s = {10, 10, 5, "Shell", True, True, 10, 20, 10, "Python"}
print(s)
print(type(s))

{True, 20, 5, 'Shell', 10, 'Python'}
<class 'set'>

In [ ]:
s.add(55)
print(s)
print(id(s))

{True, 20, 5, 55, 'Shell', 10, 'Python'}
134892435321376

In [ ]:
s.add('SQL')
print(s)
print(id(s))

{True, 'SQL', 20, 5, 55, 'Shell', 10, 'Python'}
134892435321376

#### **Dictionaries in Python**
* Defined using {}
* Always takes values in Key:Value pairs
* Mutable
* Indexing is done using Keys
* Heterogenous elements are allowed
* Duplicate Keys are not allowed whereas duplicate Values are allowed

In [ ]:
d = {"Location":"WellA", "Start_date":"2023-10-08", "Duration":45}
print(d)

{'Location': 'WellA', 'Start_date': '2023-10-08', 'Duration': 45}

In [ ]:
print(id(d))
d["Location"] = "WellB"
print(d)
print(id(d))

134892434328960
{'Location': 'WellB', 'Start_date': '2023-10-08', 'Duration': 45}
134892434328960

## **Flow Control Statements**

### **Selection Statement**
* if
* if else
* if elif else

In [ ]:
age = int(input("Enter age: "))

if age<18:
  print("Not eligible for voting")
elif age>=18:
  print("Eligible for voting")

Enter age: 6
Not eligible for voting

In [ ]:
low_fuel_threshold = 1000
critical_fuel_threshold = 500
current_fuel_level = int(input("Enter current fuel level: "))

if current_fuel_level <= critical_fuel_threshold:
  print("Critical Fuel Level reached. Take an immediate action")

elif current_fuel_level <= low_fuel_threshold:
  print("Alert!! Low Fuel Level")
else :
  print("Continue fueling")

Enter current fuel level: 800
Alert!! Low Fuel Level

### **Range() Function & for loop**

In [ ]:
n = range(0,9)
print(n)

for i in n:
  print(i)

range(0, 9)
0
1
2
3
4
5
6
7
8

In [ ]:
for i in range(12): ##First Form of range()
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
for i in range(3, 7): ##Second form of range()
  print(i)

3
4
5
6

In [ ]:
for i in range(5, 12, 3): ##Third form of range()
  print(i)

5
8
11

###***Zip() function***

In [ ]:
l1 = ['a','b','c']
l2 = ['Sales', 'IT', 'Finance']
l3 = list(zip(l1, l2))
l3

[('a', 'Sales'), ('b', 'IT'), ('c', 'Finance')]

In [ ]:
oil_gas_data = [
    ("Field A", "Texas", 500000),
    ("Field B", "Alaska", 800000),
    ("Field C", "North Sea", 300000),
    ("Field D", "Gulf of Mexico", 600000)]

#use zip() to group the information of each oil and gas field together

fields, location, reserves= zip(*oil_gas_data)    ## * is used for variable length
print(fields, location, reserves)

('Field A', 'Field B', 'Field C', 'Field D') ('Texas', 'Alaska', 'North Sea', 'Gulf of Mexico') (500000, 800000, 300000, 600000)

###***Ennumerate() function***
* used to add index to a list

In [ ]:
l = list(enumerate(location))
print(l)

[(0, 'Texas'), (1, 'Alaska'), (2, 'North Sea'), (3, 'Gulf of Mexico')]

In [ ]:
l2 = list(enumerate(fields))
print(l2)

[(0, 'Field A'), (1, 'Field B'), (2, 'Field C'), (3, 'Field D')]

In [ ]:
for index, field_data in enumerate(oil_gas_data):
    field_name, location, reserve = field_data
    print(f"Field {index+1}: {field_name} is located in {location} with reserves of {reserve} barrels.")

Field 1: Field A is located in Texas with reserves of 500000 barrels.
Field 2: Field B is located in Alaska with reserves of 800000 barrels.
Field 3: Field C is located in North Sea with reserves of 300000 barrels.
Field 4: Field D is located in Gulf of Mexico with reserves of 600000 barrels.

###***Counter() function***
* Help to count the number of occurences of elements in a list

In [ ]:
print(location)

('Texas', 'Alaska', 'North Sea', 'Gulf of Mexico')

In [ ]:
from collections import Counter
count = Counter(location)
print(count)

Counter({'Texas': 1, 'Alaska': 1, 'North Sea': 1, 'Gulf of Mexico': 1})